{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_js %}

{% endblock %}

{% block app_content %}
{% load crispy_forms_tags %}  
    <div class="w-100 overflow-hidden bg-gray-100" id="top">

      <div class="container position-relative">
        <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left"
          style="background-image: url({% static 'img/webp/interior11.webp' %});">

        </div>
        <div class="row">

          <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
            <h1 class="display-1 fw-bold mt-5">Sell more useless stuff faster!</h1>
            <p class="lead">To be honest, this is just a stupid placeholder text. We don´t know how to sell anything,
              not even lesser or slower as you.</p>
            <a href="#" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Get started free</a>
          </div>



        </div>
      </div>

    </div>

    <div class="py-vh-5 w-100 overflow-hidden" id="services">
      <div class="container">
            <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			 <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
			  <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a
              consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis
              corrupti deserunt, dolor.</p>
          </div>

 

  {% endblock %}